In [1]:
import pandas as pd
from pathlib import Path

# Read in CSV file and skip 11 rows because the top of file is out of format
df = pd.read_csv(Path("./resources/raw/boc_policy_rate_2016_2023.csv"), skiprows=11)
df.head()

         Date V39078
0  2023-04-24   4.75
1  2023-04-21   4.75
2  2023-04-20   4.75
3  2023-04-19   4.75
4  2023-04-18   4.75

In [2]:
# Rename columns

df.columns = ["date", "policy_rate"]
df.head()

         date policy_rate
0  2023-04-24        4.75
1  2023-04-21        4.75
2  2023-04-20        4.75
3  2023-04-19        4.75
4  2023-04-18        4.75

In [3]:
df.dtypes

date           object
policy_rate    object
dtype: object

In [4]:
# Convert Date to pd datetime

df["date"] = pd.to_datetime(df['date'])
df.head()

        date policy_rate
0 2023-04-24        4.75
1 2023-04-21        4.75
2 2023-04-20        4.75
3 2023-04-19        4.75
4 2023-04-18        4.75

In [5]:
df.dtypes

date           datetime64[ns]
policy_rate            object
dtype: object

In [6]:
df['policy_rate'].value_counts()

 0.50            504
 0.75            428
 2.00            355
 1.50            133
 1.25            130
 1.75            105
 4.75             61
 1.00             49
 2.75             38
 3.50             33
 4.50             32
 4.00             29
 Bank holiday     10
Name: policy_rate, dtype: int64

In [7]:
# Remove unwanted "Bank holiday" from data, but fill with an adjacent interest rate

for index, row in df.iterrows():
    if "Bank holiday" in row['policy_rate']:
        df["policy_rate"].iloc[index] = df["policy_rate"].iloc[index -1]

df['policy_rate'].value_counts()

c:\Users\Admin\anaconda3\envs\mlenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

 0.50    504
 0.75    428
 2.00    355
 1.50    133
 1.25    130
 1.75    105
 4.75     63
 1.00     49
 2.75     40
 4.50     35
 3.50     35
 4.00     30
Name: policy_rate, dtype: int64

In [8]:
# Convert policy rate to float

df['policy_rate'] = pd.to_numeric(df['policy_rate'])
df.dtypes

date           datetime64[ns]
policy_rate           float64
dtype: object

In [9]:
df.to_csv(Path('./resources/cleaned/boc_2016_2023_cleaned.csv'))