In [16]:
import pandas as pd
from pathlib import Path
from project_tools.dataframe_tools import *

In [17]:
assault_df = pd.read_csv(Path('./datasets/Assault_Open_Data.csv'))
# column_name_reformating(assault_df)
assault_df.head(20)

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.425896,43.757346,1,GO-20141262074,2014/01/01 05:00:00+00,1998/06/01 04:00:00+00,2014,January,1,1,...,1480,110,Administering Noxious Thing,Assault,38,Lansing-Westgate,38,Lansing-Westgate (38),-79.425896,43.757346
1,-79.376497,43.666423,2,GO-20141260889,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,74,North St.James Town,74,North St.James Town (74),-79.376497,43.666423
2,-79.344839,43.678946,3,GO-20141261050,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,69,Blake-Jones,66,Danforth (66),-79.344839,43.678946
3,-79.391841,43.646639,4,GO-20141259344,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1420,110,Assault Bodily Harm,Assault,164,Wellington Place,77,Waterfront Communities-The Island (77),-79.391841,43.646639
4,-85.488744,0.000000,5,GO-20141260537,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,NSA,NSA,NSA,NSA,-85.488744,0.000000
5,-79.416594,43.654753,6,GO-20141260618,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,81,Trinity-Bellwoods,81,Trinity-Bellwoods (81),-79.416594,43.654753
6,-79.391279,43.671127,7,GO-20141260056,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,95,Annex,95,Annex (95),-79.391279,43.671127
7,-79.345795,43.703684,8,GO-20141259834,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1420,100,Assault With Weapon,Assault,55,Thorncliffe Park,55,Thorncliffe Park (55),-79.345795,43.703684
8,-79.132919,43.780412,9,GO-20141260264,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,143,West Rouge,131,Rouge (131),-79.132919,43.780412
9,-79.455586,43.677308,10,GO-20141260715,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,92,Corso Italia-Davenport,92,Corso Italia-Davenport (92),-79.455586,43.677308
10,-79.436700,43.663021,11,GO-20141260902,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,172,Dovercourt Village,93,Dovercourt-Wallace Emerson-Junction (93),-79.436700,43.663021
11,-79.552145,43.609926,12,GO-20141259875,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1420,110,Assault Bodily Harm,Assault,20,Alderwood,20,Alderwood (20),-79.552145,43.609926
12,-79.438060,43.685456,13,GO-20141261368,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,107,Oakwood Village,107,Oakwood Village (107),-79.438060,43.685456
13,-79.503349,43.760303,14,GO-20141261370,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,27,York University Heights,27,York University Heights (27),-79.503349,43.760303
14,-79.386412,43.658168,15,GO-20141261627,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1420,100,Assault With Weapon,Assault,170,Yonge-Bay Corridor,76,Bay Street Corridor (76),-79.386412,43.658168
15,-79.410444,43.648268,16,GO-20141260793,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1410,100,Aggravated Assault,Assault,81,Trinity-Bellwoods,81,Trinity-Bellwoods (81),-79.410444,43.648268
16,-79.358071,43.791956,17,GO-20141261833,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,48,Hillcrest Village,48,Hillcrest Village (48),-79.358071,43.791956
17,-79.291707,43.695711,18,GO-20141262002,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,61,Taylor-Massey,61,Taylor-Massey (61),-79.291707,43.695711
18,-79.363157,43.656363,19,GO-20141262013,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1420,110,Assault Bodily Harm,Assault,72,Regent Park,72,Regent Park (72),-79.363157,43.656363
19,-79.391279,43.671127,20,GO-20141261657,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1420,100,Assault With Weapon,Assault,95,Annex,95,Annex (95),-79.391279,43.671127

In [21]:
assault_df.iloc[21500]

X                                -79.295718
Y                                 43.708186
OBJECTID                              21501
EVENT_UNIQUE_ID               GO-2015624448
REPORT_DATE          2015/04/15 04:00:00+00
OCC_DATE             2015/04/15 04:00:00+00
REPORT_YEAR                            2015
REPORT_MONTH                          April
REPORT_DAY                               15
REPORT_DOY                              105
REPORT_DOW                       Wednesday
REPORT_HOUR                              19
OCC_YEAR                             2015.0
OCC_MONTH                             April
OCC_DAY                                15.0
OCC_DOY                               105.0
OCC_DOW                          Wednesday
OCC_HOUR                                 16
DIVISION                                D54
LOCATION_TYPE              Bar / Restaurant
PREMISES_TYPE                    Commercial
UCR_CODE                               1430
UCR_EXT                                 100
OFFENCE                             Assault
MCI_CATEGORY                        Assault
HOOD_158                                 54
NEIGHBOURHOOD_158         O'Connor-Parkview
HOOD_140                                 54
NEIGHBOURHOOD_140    O'Connor-Parkview (54)
LONG_WGS84                       -79.295718
LAT_WGS84                         43.708186
Name: 21500, dtype: object

In [14]:
assault_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173238 entries, 0 to 173237
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   X                  173238 non-null  float64
 1   Y                  173238 non-null  float64
 2   OBJECTID           173238 non-null  int64
 3   EVENT_UNIQUE_ID    173238 non-null  object
 4   REPORT_DATE        173238 non-null  object
 5   OCC_DATE           173238 non-null  object
 6   REPORT_YEAR        173238 non-null  int64
 7   REPORT_MONTH       173238 non-null  object
 8   REPORT_DAY         173238 non-null  int64
 9   REPORT_DOY         173238 non-null  int64
 10  REPORT_DOW         173238 non-null  object
 11  REPORT_HOUR        173238 non-null  int64
 12  OCC_YEAR           173144 non-null  float64
 13  OCC_MONTH          173144 non-null  object
 14  OCC_DAY            173144 non-null  float64
 15  OCC_DOY            173144 non-null  float64
 16  OCC_DOW            173144 non-null  object
 17  OCC_HOUR           173238 non-null  int64
 18  DIVISION           173238 non-null  object
 19  LOCATION_TYPE      173238 non-null  object
 20  PREMISES_TYPE      173238 non-null  object
 21  UCR_CODE           173238 non-null  int64
 22  UCR_EXT            173238 non-null  int64
 23  OFFENCE            173238 non-null  object
 24  MCI_CATEGORY       173238 non-null  object
 25  HOOD_158           173238 non-null  object
 26  NEIGHBOURHOOD_158  173238 non-null  object
 27  HOOD_140           173238 non-null  object
 28  NEIGHBOURHOOD_140  173238 non-null  object
 29  LONG_WGS84         173238 non-null  float64
 30  LAT_WGS84          173238 non-null  float64
dtypes: float64(7), int64(8), object(16)
memory usage: 41.0+ MB

In [15]:
print(assault_df.columns)

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
       'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW',
       'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW',
       'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 'PREMISES_TYPE', 'UCR_CODE',
       'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY', 'HOOD_158', 'NEIGHBOURHOOD_158',
       'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84'],
      dtype='object')

In [5]:
assault_df = assault_df[[
    'event_unique_id', 'mci_category', 'occ_year', 'occ_month', 'occ_day', 'occ_dow',
    'occ_hour', 'premises_type', 'hood_140', 'neighbourhood_140', 'long_wgs84', 'lat_wgs84'
]]

['EVENT_UNIQUE_ID', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOW',
       'OCC_HOUR', 'PREMISES_TYPE', 'MCI_CATEGORY',
       'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84']

In [6]:
assault_df.isna().sum()

event_unique_id       0
mci_category          0
occ_year             94
occ_month            94
occ_day              94
occ_dow              94
occ_hour              0
premises_type         0
hood_140              0
neighbourhood_140     0
long_wgs84            0
lat_wgs84             0
dtype: int64

In [7]:
assault_df.dropna(inplace=True)

In [8]:
assault_df[['occ_year', 'occ_day', 'occ_hour']] = assault_df[['occ_year', 'occ_day', 'occ_hour']].astype(int)
assault_df

,event_unique_id,mci_category,occ_year,occ_month,occ_day,occ_dow,occ_hour,premises_type,hood_140,neighbourhood_140,long_wgs84,lat_wgs84
1,GO-20141260889,Assault,2014,January,1,Wednesday,4,Apartment,74,North St.James Town (74),-79.376497,43.666423
2,GO-20141261050,Assault,2014,January,1,Wednesday,4,Outside,66,Danforth (66),-79.344839,43.678946
3,GO-20141259344,Assault,2014,January,1,Wednesday,2,Commercial,77,Waterfront Communities-The Island (77),-79.391841,43.646639
4,GO-20141260537,Assault,2014,January,1,Wednesday,4,Outside,NSA,NSA,-85.488744,0.000000
5,GO-20141260618,Assault,2014,January,1,Wednesday,2,Commercial,81,Trinity-Bellwoods (81),-79.416594,43.654753
...,...,...,...,...,...,...,...,...,...,...,...,...
173233,GO-20222557541,Assault,2022,December,31,Saturday,1,Apartment,51,Willowdale East (51),-79.408888,43.758479
173234,GO-20222563482,Assault,2022,December,29,Thursday,15,Apartment,45,Parkwoods-Donalda (45),-79.320955,43.760970
173235,GO-20222557529,Assault,2022,December,31,Saturday,1,House,110,Keelesdale-Eglinton West (110),-79.470896,43.680465
173236,GO-20222559486,Assault,2022,December,22,Thursday,16,Apartment,102,Forest Hill North (102),-79.425645,43.701404
173237,GO-20222557956,Assault,2022,December,31,Saturday,4,Commercial,98,Rosedale-Moore Park (98),-79.385170,43.672134

In [9]:
assault_df = assault_df[(assault_df["occ_year"] > 2014) & (assault_df["occ_year"] < 2019)]

In [10]:
assault_df['occ_hour'].value_counts()

0     4927
12    4378
15    4207
18    4081
20    4075
21    4018
17    3955
19    3939
16    3893
23    3836
22    3823
2     3780
1     3455
14    3391
13    3221
11    3062
10    2714
9     2571
3     2372
8     2163
4     1428
7     1406
6     1058
5     1024
Name: occ_hour, dtype: int64

In [11]:
assault_df['occ_datetime'] = assault_df['occ_month'] + " " + assault_df['occ_day'].astype(str) + " " + assault_df['occ_year'].astype(str) + " " + assault_df['occ_hour'].astype(str) + ":00:00"
assault_df['occ_datetime'] = pd.to_datetime(assault_df['occ_datetime'])
assault_df

/Users/cwcoperations/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/cwcoperations/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,event_unique_id,mci_category,occ_year,occ_month,occ_day,occ_dow,occ_hour,premises_type,hood_140,neighbourhood_140,long_wgs84,lat_wgs84,occ_datetime
16824,GO-20155154,Assault,2015,January,1,Thursday,23,House,115,Mount Dennis (115),-79.504668,43.693238,2015-01-01 23:00:00
16825,GO-20151233,Assault,2015,January,1,Thursday,3,Commercial,77,Waterfront Communities-The Island (77),-79.392855,43.647315,2015-01-01 03:00:00
16827,GO-2015862,Assault,2015,January,1,Thursday,2,Commercial,77,Waterfront Communities-The Island (77),-79.387700,43.649776,2015-01-01 02:00:00
16828,GO-2015182,Assault,2015,January,1,Thursday,0,Commercial,1,West Humber-Clairville (1),-79.595562,43.686751,2015-01-01 00:00:00
16829,GO-2015276,Assault,2015,January,1,Thursday,0,Outside,77,Waterfront Communities-The Island (77),-79.400096,43.645835,2015-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172776,GO-20222533442,Assault,2016,June,1,Wednesday,0,Outside,73,Moss Park (73),-79.364286,43.653969,2016-06-01 00:00:00
172867,GO-20222518970,Assault,2017,May,20,Saturday,10,House,3,Thistletown-Beaumond Heights (3),-79.562345,43.733225,2017-05-20 10:00:00
172906,GO-20222527290,Assault,2018,June,1,Friday,0,Apartment,26,Downsview-Roding-CFB (26),-79.472762,43.733097,2018-06-01 00:00:00
172952,GO-20222533441,Assault,2018,September,1,Saturday,0,Apartment,76,Bay Street Corridor (76),-79.387134,43.649900,2018-09-01 00:00:00
173090,GO-20222549423,Assault,2018,February,1,Thursday,0,Apartment,53,Henry Farm (53),-79.346528,43.769565,2018-02-01 00:00:00